html, body, section, article, h1, h2, p, ul, button {
  margin: 0;
  border: 1px dotted red;
  padding: 15px;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
  box-sizing: border-box;
}

body {
  font-family: "Arial";
}

h1 {
  text-align: center;
}

h6 {
    margin-bottom: .5rem;
    line-height: 1.2;
}

.app-header {
    background-color: #999999;
    padding: 20px;
    color: #fff;
    border-radius: .3rem;
    font-size: 2rem;
}
