.comment-list-wrapper {
  border: 1px solid #6c757d;
  border-radius: .25rem;
  overflow: scroll;
  max-height: 200px;
  bottom: 0;
  padding: 15px;
}

.comment-list-header {
  color: #6c757d;
  font-size: 1.25rem;
}

.comment-author {
  font-size: .4rem;
}

.comment-message {
  font-size: .6rem;
}

